<template>
  <b-card no-body class="overflow-hidden article_card">
    <b-row no-gutters>
      <b-col md="6">
        <b-card-img src="https://picsum.photos/400/400/?image=20" alt="Image" class="rounded-0" />
      </b-col>
      <b-col md="6">
        <b-card-body :title="`Article ${data}`">
          <b-card-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </b-card-text>
        </b-card-body>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style scoped>
  .article_card {
    margin: 10px 0;
  }
</style>