<template>
  <b-navbar toggleable="md" type="dark" variant="info" sticky>
    <b-navbar-brand to="/">Astronacci Test</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="ml-auto" v-if="dataUser == null">
        <b-nav-item to="/register">
          Register
        </b-nav-item>
        <b-nav-item to="/login">
          Login
        </b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto" v-else>
        <b-nav-item @click="logout">
          Logout
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import Cookies from 'js-cookie'

export default {
  computed: {
    dataUser() {
      return this.$store.state.user.dataUser
    }
  },
  created() {
    if (Cookies.get('data_user')) {
      if (this.dataUser.member[0].limit) {
        this.defaultCount = this.dataUser.member[0].limit 
      }
    }
  },
  methods: {
    logout() {
      Cookies.remove('data_user')
      this.$store.dispatch('user/getdataUser', null)
      this.$router.push('/login')
    }
  },
}
</script>