<template>
  <b-card no-body class="overflow-hidden article_card">
    <b-row no-gutters>
      <b-col md="12">
        <b-card-body :title="`Video ${data}`">
          <b-card-text>
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/tgbNymZ7vqY" />
          </b-card-text>
        </b-card-body>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
export default {
  props: ['data']
}
</script>

<style scoped>
  .article_card {
    margin: 10px 0;
  }
</style>