<template>
  <b-container>
    <b-row class="text-center" v-if="dataUser == null">
      <b-col>
        <h2>Please login to see article</h2>
      </b-col>
    </b-row>
    <div v-else>
      <div>
        <h2>Article</h2>
        <b-row>
          <b-col
            cols="12"
            lg="4"
            md="6"
            sm="6"
            v-for="(item, index) in defaultCount"
            :key="index"
          >
            <ArticleCard :data="item" />
          </b-col>
        </b-row>
      </div>
      <div class="section_video">
        <h2>Video</h2>
        <b-row>
          <b-col
            cols="12"
            lg="4"
            md="6"
            sm="6"
            v-for="(item, index) in defaultCount"
            :key="index"
          >
            <VideoCard :data="item" />
          </b-col>
        </b-row>
      </div>
    </div>
  </b-container>
</template>

<script>
import ArticleCard from '~/components/ArticleCard'
import VideoCard from '~/components/VideoCard'
import Cookies from 'js-cookie'

export default {
  components: {
    ArticleCard,
    VideoCard
  },
  data() {
    return {
      defaultCount: 20,
      dataUser: null
    }
  },
  created() {
    if (Cookies.get('data_user')) {
      this.dataUser = JSON.parse(Cookies.get('data_user'))
      if (this.dataUser.member[0].limit) {
        this.defaultCount = this.dataUser.member[0].limit 
      }
    }
  }
}
</script>

<style scoped>
  .section_video {
    margin-top: 50px;
  }
</style>