<template>
  <b-container class="login_page">
    <b-row class="justify-content-center">
      <b-col cols="12" lg="6" md="8" sm="12">
        <h2>Login</h2>
        <b-card>
          <b-card-text>
            <validation-observer ref="observer" v-slot="{ handleSubmit }">
              <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
                <validation-provider
                  name="Email"
                  :rules="{ required: true, email: true }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Email"
                    label-for="input-email"
                  >
                    <b-form-input
                      id="input-email"
                      v-model="form.email"
                      type="email"
                      :state="getValidationState(validationContext)"
                      placeholder="Enter email"
                    />
                    <b-form-invalid-feedback id="input-live-feedback">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                <validation-provider
                  name="Password"
                  :rules="{ required: true }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Password"
                    label-for="input-password"
                  >
                    <b-input-group>
                      <b-form-input
                        id="input-password"
                        v-model="form.password"
                        :type="isPassword ? 'password' : 'text'"
                        :state="getValidationState(validationContext)"
                        maxlength="20"
                        placeholder="Enter password"
                      />
                      <b-input-group-append>
                        <b-button
                          variant="outline-secondary"
                          @click="showPassword = !showPassword; isPassword = !isPassword"
                        >
                          <b-icon :icon="showPassword ? 'eye' : 'eye-slash'" />
                        </b-button>
                      </b-input-group-append>
                      <b-form-invalid-feedback id="input-live-feedback">
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </b-form-group>
                </validation-provider>
                <b-overlay
                  :show="loading"
                  rounded
                  opacity="0.6"
                  spinner-small
                  spinner-variant="primary"
                  class="d-inline-block"
                >
                  <b-button type="submit" variant="primary" class="btn_submit">
                    Login
                  </b-button>
                </b-overlay>
              </b-form>
            </validation-observer>
          </b-card-text>
          <b-alert :show="isValid" variant="danger">
            Invalid email or password.
          </b-alert>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Vue from 'vue'
import { BootstrapVueIcons } from 'bootstrap-vue'
import 'bootstrap-vue/dist/bootstrap-vue-icons.min.css'
import Cookies from 'js-cookie'

Vue.use(BootstrapVueIcons)

export default {
  data() {
    return {
      form: {
        email: '',
        password: ''
      },
      showPassword: false,
      isPassword: true,
      isValid: false,
      loading: false
    }
  },
  methods: {
    onSubmit() {
      this.isValid = false
      this.loading = true
      this.$axios.post('/api/membership/login', this.form)
      .then((res) => {
        this.loading = false
        if (res.status == 200) {
          Cookies.set('data_user', res.data.data)
          this.$store.dispatch('user/getdataUser', res.data.data)
          this.$bvModal.msgBoxOk('Login successfully', {
              title: 'Success',
              size: 'sm',
              buttonSize: 'sm',
              okVariant: 'success',
              headerClass: 'p-2 border-bottom-0',
              footerClass: 'p-2 border-top-0',
              centered: true
            })
            .then(value => {
              this.$router.push('/')
            })
        } else {
          this.isValid = true
        }
      })
    },
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    }
  }
}
</script>

<style scoped>
  .login_page h2 {
    text-align: center;
    margin: 20px 0;
  }

  .btn_submit {
    margin-top: 5px;
  }
</style>