<template>
  <b-container class="register_page">
    <b-row class="justify-content-center">
      <b-col cols="12" lg="6" md="8" sm="12">
        <h2>Register</h2>
        <b-card>
          <b-card-text>
            <validation-observer ref="observer" v-slot="{ handleSubmit }">
              <b-form @submit.stop.prevent="handleSubmit(onSubmit)">
                <validation-provider
                  name="Name"
                  :rules="{ required: true, min: 5 }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Name"
                    label-for="input-name"
                  >
                    <b-form-input
                      id="input-name"
                      v-model="form.name"
                      type="text"
                      :state="getValidationState(validationContext)"
                      @keypress="stringOnly($event)"
                      placeholder="Enter name"
                    />
                    <b-form-invalid-feedback id="input-live-feedback">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                <validation-provider
                  name="Email"
                  :rules="{ required: true, email: true }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Email"
                    label-for="input-email"
                  >
                    <b-form-input
                      id="input-email"
                      v-model="form.email"
                      type="email"
                      :state="getValidationState(validationContext)"
                      placeholder="Enter email"
                    />
                    <b-form-invalid-feedback id="input-live-feedback">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                <validation-provider
                  name="Password"
                  :rules="{ required: true, regex: /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,20}$/, min: 8 }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Password"
                    label-for="input-password"
                    description="should contain at least one digit and one special character."
                  >
                    <b-input-group>
                      <b-form-input
                        id="input-password"
                        v-model="form.password"
                        :type="isPassword ? 'password' : 'text'"
                        :state="getValidationState(validationContext)"
                        maxlength="20"
                        placeholder="Enter password"
                      />
                      <b-input-group-append>
                        <b-button
                          variant="outline-secondary"
                          @click="showPassword = !showPassword; isPassword = !isPassword"
                        >
                          <b-icon :icon="showPassword ? 'eye' : 'eye-slash'" />
                        </b-button>
                      </b-input-group-append>
                      <b-form-invalid-feedback id="input-live-feedback">
                        {{ validationContext.errors[0] }}
                      </b-form-invalid-feedback>
                    </b-input-group>
                  </b-form-group>
                </validation-provider>
                <validation-provider
                  name="Phone"
                  :rules="{ required: true, min: 10 }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Phone"
                    label-for="input-phone"
                    :no-wheel="false"
                  >
                    <b-form-input
                      id="input-phone"
                      v-model="form.phone"
                      type="number"
                      :state="getValidationState(validationContext)"
                      placeholder="Enter phone"
                    />
                    <b-form-invalid-feedback id="input-live-feedback">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                <validation-provider
                  name="Attachment"
                  :rules="{ required: true, min: 10, size: 5000 }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Attachment"
                    label-for="input-attachment"
                  >
                    <b-form-file
                      id="input-attachment"
                      v-model="form.attachment"
                      :state="getValidationState(validationContext)"
                      placeholder="Choose a file or drop it here..."
                      drop-placeholder="Drop file here..."
                    />
                    <b-form-invalid-feedback id="input-live-feedback">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                <validation-provider
                  name="Type"
                  :rules="{ required: true }"
                  v-slot="validationContext"
                >
                  <b-form-group
                    label="Type"
                    label-for="input-type"
                  >
                    <b-form-select 
                      id="input-type"
                      :options="optType"
                      v-model="form.type"
                      :state="getValidationState(validationContext)"
                      placeholder="Choose type"
                    />
                    <b-form-invalid-feedback id="input-live-feedback">
                      {{ validationContext.errors[0] }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </validation-provider>
                <vue-recaptcha
                  ref="invisibleRecaptcha"
                  @verify="onVerify"
                  @expired="onExpired"
                  sitekey="6Ld13LoZAAAAAB1i0OUhB3M5bIRw6HytzTnoDNwC"
                />
                <b-overlay
                  :show="loading"
                  rounded
                  opacity="0.6"
                  spinner-small
                  spinner-variant="primary"
                  class="d-inline-block"
                >
                  <b-button type="submit" variant="primary" class="btn_submit">
                    Register
                  </b-button>
                </b-overlay>
              </b-form>
            </validation-observer>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Vue from 'vue'
import { BootstrapVueIcons } from 'bootstrap-vue'
import 'bootstrap-vue/dist/bootstrap-vue-icons.min.css'
import { firstMixin } from '~/plugins/GlobalMixins'
import VueRecaptcha from 'vue-recaptcha'

Vue.use(BootstrapVueIcons)

export default {
  mixins: [firstMixin],
  components: {
    VueRecaptcha
  },
  data() {
    return {
      form: {
        name: '',
        email: '',
        password: '',
        phone: '',
        attachment: null,
        type: ''
      },
      showPassword: false,
      isPassword: true,
      valCaptcha: '',
      optType: [
        { value: 'A', text: 'A' },
        { value: 'B', text: 'B' },
        { value: 'C', text: 'C' }
      ],
      loading: false
    }
  },
  methods: {
    onSubmit() {
      if (this.valCaptcha) {
        this.loading = true
        this.$axios.post('/api/membership/create', this.generateFormData())
        .then((res) => {
          this.loading = false
          if (res.status == 200) {
            this.$bvModal.msgBoxOk('Register was submitted successfully', {
              title: 'Success',
              size: 'sm',
              buttonSize: 'sm',
              okVariant: 'success',
              headerClass: 'p-2 border-bottom-0',
              footerClass: 'p-2 border-top-0',
              centered: true
            })
            .then(value => {
              this.$router.push('/login')
            })
          }
        })
      }
    },
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    onVerify(response) {
      this.valCaptcha = response
    },
    onExpired() {
      this.valCaptcha = ''
      console.log('Expired')
    },
    generateFormData() {
      const formData = new FormData()
      Object.keys(this.form).forEach((key, index) => {
        formData.append(key, this.form[key])
      })
      return formData
    }
  }
}
</script>

<style scoped>
  .register_page h2 {
    text-align: center;
    margin: 20px 0;
  }

  .btn_submit {
    margin-top: 10px;
  }
</style>